@media only screen and (orientation: landscape) {
  .snake-grid {
    display: grid;
    grid-template-columns: repeat(20, 2vw);
    grid-template-rows: repeat(12, 2vw);
    grid-gap: 0px;
    outline: 1px solid black;
  }
}
@media only screen and (orientation: portrait) {
  .snake-grid {
    display: grid;
    grid-template-columns: repeat(20, 4.8vw);
    grid-template-rows: repeat(12, 4.8vw);
    grid-gap: 0px;
    outline: 1px solid black;
  }
}
.snake-cell {
  border: 1px solid rgb(236, 236, 236);
  background-color: white;
}
.head {
  background-color: black;
}
.tail {
  background-color: grey;
}
.food {
  background-color: red;
}
