@media only screen and (orientation: landscape) {
  .snake-container {
    width: 40vw;
    margin-left: 30vw;
    margin-top: 1vw;
  }
  .snake-grid {
    display: grid;
    grid-template-columns: repeat(20, 2vw);
    grid-template-rows: repeat(12, 2vw);
    grid-gap: 0px;
    outline: 1px solid black;
  }
}
@media only screen and (orientation: portrait) {
  .snake-container {
    width: 96vw;
    margin: 2vw;
  }
  .snake-grid {
    display: grid;
    grid-template-columns: repeat(20, 4.8vw);
    grid-template-rows: repeat(12, 4.8vw);
    grid-gap: 0px;
    outline: 1px solid black;
  }
}

.snake-cell {
  border: 1px solid rgb(208, 208, 208);
  background-color: white;
}

.head {
  background-color: black;
}

.tail {
  background-color: grey;
}

.food {
  background-color: red;
}
