@media only screen and (orientation: landscape) {
  .memory-grid {
    display: grid;
    grid-template-columns: repeat(4, 9.25vw);
    grid-template-rows: repeat(4, 9.25vw);
    grid-gap: 1vw;
  }
}
@media only screen and (orientation: portrait) {
  .memory-grid {
    display: grid;
    grid-template-columns: repeat(4, 22.5vw);
    grid-template-rows: repeat(4, 22.5vw);
    grid-gap: 2vw;
  }
}
